body {
    box-sizing: content-box;
background-color: #f3f4f9;  
}
.header{
    position: sticky;
    top: 0;
    display: flex;
    background-color: #f88f27;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    height: 170px;
}
.header nav{
    display: flex;
    gap: 16px;
    text-transform: capitalize;
}
.header nav a{
    text-decoration: none;
    color: white;

}

span{
    background-color: white;
    color: rgb(250, 6, 6);
    border-radius: 50%;
    font-weight: bolder;
    font-size: 15px;
    width: 8px;
    height: 8px;
    padding: 8px;
}

img{
    height:150px;
    width: 150px;
    border-radius: 50%;
    background-color: #f3f4f9;
}
.product {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px #ccc;
  }
  .product h3 {
    font-size: 1.2rem;
  }
  .product strong {
    font-size: 1.1rem;
    color: #c00;
  }
  
  .product a {
  
    background-color: #c00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .product a:hover {
    background-color: #900;
  }
  .all-products{
    display: grid;justify-content: center;
    grid-template-columns: repeat(4,1fr);
  }
  

.container {
    /* width: 90%;
    max-width: 1200px;
    margin:  auto; */
}

.btn {
    padding: 10px 30px;
    background-color: #f68616;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
.single-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color:#acaf06;
    border-radius: 15px;
    width: 700px;
    height: auto;
    margin: 20px;
}

.product-single{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.single-product a {
    margin-top: 10px;
    background-color: #c00;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }

.single-product img {
    width: 100px;

}

/* Add product */
.add-product {
    width: 50%;
    margin: auto;
}

.add-product label {
    display: block;
    margin: 15px 0 5px 0;
}

.add-product input,
.add-product textarea {
    display: block;
    width: 100%;
}

.add-product .btn {
    margin-top: 20px;
}
.footer{
    position: relative;
    bottom: 0;
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: repeat(4,250px);
background-image: url(/bg-desktop-dark.jpg); 
   color: #f0eded;
   background-color: #1e1f1c;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-transform: capitalize;
   height: 300px;
}
.footer h3{
    color: aqua;
}
.group4 ul li{
    list-style: none;
}
.box{
    height: 100px;
    width: 100px;
    background-color: blue;


}
.shopped{
    display: none;
    position: absolute;
    background-color: rgb(248, 248, 140);
    width: 500px;
    height: auto;
    top: 200px;
    left: 1200px;
    border-radius: 10px;

}
.shopped img{
    height: 50px;
    width: 50px;
}
.shopped li

